/*this sets the page to have neutral padding and margin except the ones assigned to it's class and the box size to boarder-box*/

*{ 
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    
}

/* this is the style for the body tag and the background color as well as the font color*/
body{
    background-color:lightblue;
    color:black;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    line-height:40px;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    min-height:100vh;
}


#startButton{
    color:aqua;
    background-color:black;
    cursor:pointer;
    padding:10px 30px;
    border-radius:5px;
    margin-top:40px;
    Font-size:25px;
}

#startButton:hover{
    background-color:grey;
}

#submitButton{
    color:aqua;
    background-color:black;
    cursor:pointer;
    padding:10px 30px;
    border-radius:5px;
    Font-size:25px;
    position:fixed;
    right:30%;
    transform:translateX(50%);
    bottom:30px;
}

#submitButton:hover{
    background-color:grey;
}

#quiz-section{
    text-align:center;
}

#question{
    margin-bottom:25px;
    font-size:20px;

}

#selction{
    margin-bottom:18px;
}

#timer{
    position:fixed;
    top:0;
    right:10px;
}

/*#score{
    position:absolute;
    top:0;
    left:10px;
}